<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991924217637-hhff0gog68dcjfi0f3789v2f7he1t6go.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991924217637-hhff0gog68dcjfi0f3789v2f7he1t6go</string>
	<key>API_KEY</key>
	<string>AIzaSyDJSBrARKW3iemUDWw_hGYgRETZvCLhFjk</string>
	<key>GCM_SENDER_ID</key>
	<string>991924217637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.udemylecture.InstagramFirestoreTutorial</string>
	<key>PROJECT_ID</key>
	<string>instagramfirestoretutori-94a12</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirestoretutori-94a12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991924217637:ios:03bca6dd00642a91115ccc</string>
</dict>
</plist>